extends layout

block content
  h1 To-do list
  button#btnListDoneTodos List done todos

  #createTodo
      fieldset
        textarea#inputTitle(type='text', placeholder='Title' cols='50' rows='1')
        br
        button#btnCreateTodo Create todo
  #doneTodos

  #todos


